<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome page</title>
</head>
<body>
    <%- include('header.ejs') %>
    <h1>Welcome <%=userName%></h1>
    <a href="/signout">Signout</a>

    <ul>
        <% for(let i=0;i<electionsList.length;i++){ %> 
            <li><a href="/elections/<%= electionsList[i].id %>"><%= electionsList[i].electionName %> </a> </li>
        <% } %> 
    </ul>

    <a href="/elections/new">Create a new election</a>

</body>
</html>